@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
/* 
 display flex sempre coloca os elementos em do lado do outro, tambem como padrao o flex direction row
*/
.cabecalho .logo{
    width: 65px;;
}
.cabecalho .menu{
    display: flex;
    align-items: center;
}
a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 10px 20px;
}
li{
    list-style: none;
}
p{
    font-family: 'Poppins', sans-serif;
}
.menu a:hover{
    background-color: #ff000091;
    border-radius: 100px;
    transition: 1s;
}
.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 70vh;
    padding: 0 30px 30px;
}
.container .imagem-titulo{
    max-width: 500px;
}
.container .descricao{
    color:#ffffff;
    width: 85%;
    font-size: 18px;
    margin: 30px 0;
    text-align: justify;
}
.container .botao-trailer{
    background-color: #ff0000;
    color: #ffffff;
    padding: 15px;
    font: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    text-shadow: 1px 3px 5px #000000;
    transition: 0.5s all ease-in-out;
}
.container .botao-trailer:hover{
    transform: scale(1.1);
}
.fundo-video{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;   /* é para esconder o scroll */
}
.fundo-video .video{
    height: 100vh;
    width: 100vw;
}
.fundo-video::after{
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #000000 0%, #000000cc 50%, #000000 100%);
}
.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #343432bf;
    visibility: hidden;
}
.conteudo-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-radius: 5px;
    gap: 15px;
}
.fechar-modal{
    background-color: #ffffff;
    color: #ff0000;
    font-weight: bold;
    font-size: 20px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.modal iframe{
    border-width: 0;
    width: 640px;
    height: 360px;
}
.modal.aberto{
    opacity: 1;
    visibility: visible;
}